<div class='col-lg-4 col-md-6 mb-4'>
  <div class='card'>
    <div class='card-header'>
      <span class='float-end'>
        <span class='float-end ms-2 add-delete-bottle-group'>
          <i class='bottle-add bi bi-caret-up-fill' data-id={{id}}></i>
          <i class='bottle-delete bi bi-caret-down-fill' data-id={{id}}></i>
        </span>

        <span
          class='badge rounded-pill bg-primary'
          title='Stock count'
        >{{stock}}</span>
      </span>
      {{producer_name}}
      {{vintage}}
      {{wine_name}}
    </div>
    <div class='card-body'>
      <h5 class='card-title mb-4'>
        {{region}}
        {{category.category_name}}
      </h5>
      <p class='card-text'><strong>Notes: </strong>
        {{tasting_notes}}</p>
      <p class='card-text'><strong>Reviews: </strong>
        {{reviews}}</p>
      <p class='card-text'><strong>Cellar location:</strong>
        {{cellar_location}}</p>
      <a href='/update/{{id}}'>Update</a>
    </div>
  </div>
</div>